@import url('reset.css');



.show{
	display:block;
}

.hide{
	display:none;
}




.wrapper{
	background-color:none;
	height:560px;
	width:800px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}





.titleblock{
	height:100px;
	width:800px;
	background-image:url(images/titleimg2.jpg);
}

	.titletext{
		height:70px;
		width:800px;
		text-align:center;
		padding-top:20px;
		font-size:1.3em;
		color:white;
	}

		.titleline2{
			padding-top:10px;
		}

.descriptionblock{
	height:125px;
	width:800px;
	margin-top:10px;
	background-color:none;
}

.letterblock{
	height:60px;
	width:800px;
	margin-top:10px;
	background-color:none;
}

	.letterwrap{
		height:60px;
		width:60px;
		margin-right:10px;
		float:left;
	}
	
		.letter{
			height:50px;
			width:50px;
			border:5px solid black;
			
		}
		
		.letter3{
			background-image:url(images/letter3small.jpg);
		}
		
		.letter4{
			background-image:url(images/letter4small.jpg);
		}
		
		.letter5{
			background-image:url(images/letter5small.jpg);
		}
		
		
	.letterwrap1{
		margin-left:160px;
	}

.wordblock{
	height:150px;
	width:800px;
	margin-top:45px;
	background-color:none;
}

	.word{
		height:130px;
		width:130px;
		margin-right:20px;
		border:10px solid black;
		float:left;
	}
	
		.word1{
			margin-left:155px;
		}

.speakblock{
	height:45px;
	width:600px;
	padding-top:5px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	color:white;
	font-size:2em;
	text-align:center;
}